@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-nunito {
    font-family: "Nunito Sans", sans-serif;
}

.pattern-dots-md {
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
}

.w-1\/6 {
  width: 16.67%;
}

.arrow-override .splide__arrow--prev {
    left: -15px !important;
}

.arrow-override .splide__arrow--next {
    right: -15px !important;
}

.arrow-override .splide__arrow {
    background: rgba(0,0,0,0) !important;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky-header + .content {
    padding-top: 80px;
}

@media (min-width: 768px) {
    .md\:w-1\/6 {
        width: 16.6667%;
    }
}
