<!-- modal div -->

<script>
  
  function closeModal() {
    localStorage.setItem("disclaimerAccepted", true);
  }

  function getData() {
    var disclaimerAccepted = localStorage.getItem("disclaimerAccepted") ? 
    localStorage.getItem("disclaimerAccepted"): false;

    console.log("disclaimerAccepted is get data", disclaimerAccepted);
    return { "showModal": !disclaimerAccepted};
  }
</script>
<div
  id="disclaimerDialog"
  x-data="getData()"
>

    <!-- Modal -->
    <div
        class="fixed inset-0 z-30 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
        x-show="showModal"
        style="display:none"
    >
        <div class="h-auto p-4 mx-4 text-left bg-white rounded shadow-xl md:p-6 lg:p-8 md:mx-24" @click.away="open = false">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-xl font-medium leading-6 text-gray-900">
              Disclaimer
            </h3>

            <div class="mt-4 h-100 md:h-auto text-left overflow-scroll">
              <p class="text-sm leading-5 text-gray-500">
                The content of this website is for general information purposes only. While enough care is taken by us to ensure that information on the website is up to date, accurate and correct, readers are requested to contact the authorized sales representative before relying upon the same. The information on the website shall be construed as an advertisement and/or invitation or offer for sale. In no event we will offers any warranty on the information made available, or be liable for any loss or damage including without limitation, indirect or consequential loss or damage in connection with, the use of information in this website. 

              </p>
                <br/>
              <p class="text-sm leading-5 text-gray-500">
               By using or accessing the website, you agree with the disclaimer without any qualification or limitation. Design, specifications, floor plans, brochures and interactive plans etc., are subject to change without prior notice. Computer generated images; walkthroughs and render images are the artist’s impression and are an indicative of the actual designs. Please note that by sharing any of your contact details on the website, you are authorizing our sales team and our associates (even if you are registered on the DND Registry) to provide information on our projects over Calls, SMS & Emails.
        </p>
<br/>
              <p class="text-sm leading-5 text-gray-500">
            To enhance your experience, we use cookies that can help us display customized content as per your browser settings and understand how you interact with our website. By choosing I Agree, you are indicating that you agree to our policies. You can change your preferences anytime by clicking on "Cookie Settings".
          </p>
          </div>
        </div>

          <!-- One big close button.  --->
          <div class="mt-5 sm:mt-6">
            <span class="flex w-full rounded-md shadow-sm">
              <button @click="showModal = false" onClick="closeModal()" class="inline-flex justify-center w-full px-4 py-2 text-white bg-primary rounded ">
                I agree
              </button>
            </span>
          </div>
    </div>
</div>
