
<div class="flex flex-row bg-white justify-between">
   
       
    <div class="">
        
        <div class="text-center items-center justify-center mt-8 mb-4">
            <h3 class="text-primary  text-sm">Appartment sketch</h3>
            <h1 class="sm:text-3xl text-3xl font-semibold title-font my-4 text-gray-900">Appartment Plan</h1>
            <div class=" justify-evenly text-xl space-x-14 mt-12 mb-12">
                <button>Floor</button>
                <button class="border-b-2 border-primary text-primary">2-Bed</button>
                <button>3-Bed</button>
                <button>Plot</button>
                <button>Building</button>
            </div>
          </div>
         

        <div class="flex flex-row justify-evenly items-center">
        <div class=" w-5/12 flex flex-col items-center">
           <!-- mt-8  ml-60  my-2 , pt-14 pb-14 pl-6 pr-6 -->
        <div style="background-color: #F2F6F7;" class=" p-8 items-center">
        <div class="text-black font-semibold mb-4 items-center text-3xl">Delux Portion</div>
        <div style="font: #687C87;" class="text-sm items-center font-thin text-gray-500">Enimad minim veniam quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet cons aetetur adipisicing elit sedo eiusmod tempor.Incididunt labore et dolore magna aliqua. sed ayd minim veniam.</div>
        
        <div class="flex flex-row justify-between">
            <div class="flex flex-col space-y-6 mt-4 items-start">
                <div>Total Area  </div>
                <div>Bedroom Area</div>
                <div>Bathroom Area   </div>
                <div>Balcony Area  </div>
                <div>Kitchen Area </div>
                <div>Total Area </div>
            </div>
            
            <div class="flex flex-col space-y-6 mt-4 items-start">
                <div>2300 sqft </div>
                <div>900 sqft</div>
                <div>400sqft</div>
                <div>1200sqft</div>
                <div>300 sqft</div>
                <div>700sqft</div>
            </div>
        </div>
        
       
    </div>
       
        </div>
        <div class="h-50 mr-40 w-2/6"><img src = "/images/mahati/sketch.png"/></div>
    </div>
    </div>

</div>

