<!-- project details -->
{{ $imageURL := .content.imageURL  }}
{{$imageDataSize:= "600x400"}}
{{$imageCropStyle:= "object-cover"}}

<div class="flex flex-col md:flex-row justify-between" style="background-color:#F2F6F7">
    <div class="mx-8 md:pl-4 w-full md:w-3/7">
        <div class="mt-14 flex flex-col my-2">
        <h3 class="text-primary  text-sm">{{.content.caption}}</h3>
        <h1 class="sm:text-3xl text-3xl font-semibold title-font my-4 text-gray-900">{{.content.title}}</h1>
        <h4 class=" text-xs font-extralight">{{.content.subTitle}}</h4>
        </div>

    <div class="flex flex-row pb-8">
        <div class="flex flex-col pr-4">
            {{range .content.leftList}}
                <div class="flex flex-row space-x-2 mt-4 items-center">
                    <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EDB21F" class="bi bi-check-circle" x="0px" y="0px" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg>
                    </div>
                    <div>
                    <div class="text-xs ">{{.text}}</div>
                
                    </div>    
                </div>
            {{end}}
        </div>

        <div class="flex flex-col">
            {{range .content.rightList}}
                <div class="flex flex-row space-x-2 mt-4 items-center">
                    <div> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#EDB21F" class="bi bi-check-circle" x="0px" y="0px" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg></div>
                    <div>
                    <div class="text-xs ">{{.text}}</div>
                
                    </div>    
                </div>
            {{end}}
        </div>
        
      </div>
      {{if gt .content.actionButton.text 0 }}
      <a href="{{.content.actionButton.href}}" target="_blank" 
                class="mt-4 w-48 shadow-sm rounded-sm bg-primary text-white text-center pl-3 pr-3 pt-2 pb-2">{{.content.actionButton.text}}</a>  
     {{end}}

    </div>
   {{ $img := imageConfig (add "/static" ($imageURL | safeURL)) }}
       <div class="w-full md:hidden my-gallery mb-4">
        <figure itemprop="associatedMedia" class=" h-full "  itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{$imageURL}}" itemprop="contentUrl" class=" h-full " data-size="{{$img.Width}}x{{$img.Height}}">
                <img class="lazy {{$imageCropStyle}} object-center h-full w-full"
                    alt="hero" src="/images/preview-load-grey.jpg" data-src="{{$imageURL}}">
            </a>
        </figure>
    </div>
    <div class="hidden md:block w-4/7 p-8 my-gallery">
        <figure itemprop="associatedMedia" class=" h-full "  itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{$imageURL}}" itemprop="contentUrl" class=" h-full " data-size="{{$img.Width}}x{{$img.Height}}">
                <img class="lazy {{$imageCropStyle}} object-center h-full w-full"
                    alt="hero" src="/images/preview-load-grey.jpg" data-src="{{$imageURL}}">
            </a>
        </figure>
    </div>
   
</div>