

<section class="text-gray-600 body-font relative" >
  <div class="flex sm:flex-nowrap flex-wrap">
    <div class="md:w-3/5 w-full bg-gray-300 md:m-8 overflow-hidden flex items-end justify-start relative">
      <iframe id="g-maps-iframe" width="100%" height="100%" style="min-height:500px" class="inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="" data-src="{{.content.mapLocationURL}}" style=""></iframe>
    </div>
    <div id="contact-us" style="background-color:#F2F6F7;padding-top:55px;" class="md:w-2/5 flex flex-col w-full mt-8 mb-10 p-4 mx-8 md:mx-0 md:mt-8 md:mr-8">
      <h3 class="text-primary text-sm mb-4">Get Quote</h3>
      <h1 style="color: #093b52;" class="sm:text-3xl text-3xl font-semibold title-font mb-0 text-gray-900">CONTACT US</h1>
   
      <form name={{.content.formId}} id={{.content.formId}} onsubmit="onBiztrackerFormSubmit()">
      
        <div class="relative mb-1">
          <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
          <input type="text" id="name" name="name" required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        
        <div class="relative mb-1">
          <label for="phoneNumber" class="leading-7 text-sm text-gray-600">Phone Number</label>
          <input type="text" id="phoneNumber" name="phoneNumber" required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-1">
          <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-1">
          <label for="key" class="leading-7 text-sm text-gray-600">Project Name</label>
          <select id="key" name="key" required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              {{if eq .content.biztrackerIntegrationKey "97097bcf-d764-4282-a1c7-2788ecb62db8"}}
                <option selected="selected" value="97097bcf-d764-4282-a1c7-2788ecb62db8">Highway Meadows</option>
              {{else}} 
                <option value="97097bcf-d764-4282-a1c7-2788ecb62db8">Highway Meadows</option>
              {{end}}
              {{if eq .content.biztrackerIntegrationKey "107fc864-3c00-4039-86e9-9c5a0c74cf15"}}
                <option selected="selected" value="107fc864-3c00-4039-86e9-9c5a0c74cf15">GMR Colony</option>
              {{else}} 
                <option value="107fc864-3c00-4039-86e9-9c5a0c74cf15">GMR Colony</option>
                      
              {{end}}

              {{if eq .content.biztrackerIntegrationKey "107fc864-3c00-4039-86e9-9c5a0c74cf15"}}
                <option selected="selected" value="107fc864-3c00-4039-86e9-9c5a0c74cf15">Orchids</option>
              {{else}} 
                <option value="107fc864-3c00-4039-86e9-9c5a0c74cf15">Orchids</option>
                  
              {{end}}
          </select>
        </div>
        <div class="relative mb-1">
          <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
          <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-16 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <div class="mb-2">
          <a target="_blank" class="underline text-sm " href="/privacy-policy"> Our Privacy Policy </a>
        </div>
        <div id="biztrackerContactFormMessage"> <p class="font-medium text-gray-800 h-4"> </p></div>
      
        <button class="text-white bg-primary border-0 py-2 px-6 focus:outline-none hover:bg-hover rounded text-lg">Submit</button>
        <p class="text-xs text-gray-500 mt-3"></p>
      </form>
    </div>
  </div>
</section>