

<section id="contact-us" class="text-gray-600 body-font relative" style="background-color:#F2F6F7; padding-top:15px">
  <div class="flex sm:flex-nowrap flex-wrap">
    <div class="lg:w-2/3 md:w-2/3 w-full bg-gray-300 md:m-8 overflow-hidden flex items-end justify-start relative">
      <iframe id="g-maps-iframe" width="100%" height="100%" style="min-height:500px" class="inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="" data-src="{{.content.mapLocationURL}}" style=""></iframe>
    </div>
    <div class="lg:w-1/3 md:w-1/3 flex flex-col w-full mt-8 mx-8 md:mx-0 md:mt-8 md:mr-8">
      <h3 class="text-primary text-sm mb-2">Get Quote</h3>
      <h1 style="color: #093b52;" class="sm:text-3xl text-3xl font-semibold title-font mb-0 text-gray-900">Contact us</h1>
   
       <div id="biztrackerContactFormMessage"> <p class="font-medium text-gray-800 h-4"> </p></div>
      <form name={{.content.formId}} id={{.content.formId}} onsubmit="onBiztrackerFormSubmit()">
        {{ if isset .content "biztrackerIntegrationKey" }}
          <input name="key" id="key" type="hidden" value="{{.content.biztrackerIntegrationKey}}">
        {{ end }}
      
        <div class="relative mb-1">
          <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
          <input type="text" id="name" name="name" required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        
        <div class="relative mb-1">
          <label for="phoneNumber" class="leading-7 text-sm text-gray-600">Phone Number</label>
          <input type="text" id="phoneNumber" name="phoneNumber" required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-1">
          <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-1">
          <label for="email" class="leading-7 text-sm text-gray-600">Project Name</label>
          <select required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              <option value="volvo">Highway Meadows</option>
              <option value="volvo">GMR Colony</option>
              <option value="volvo">Orchids</option>
          </select>
        </div>
        <div class="relative mb-1">
          <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
          <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-16 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <button class="text-white bg-primary border-0 py-2 px-6 focus:outline-none hover:bg-hover rounded text-lg">Submit</button>
        <p class="text-xs text-gray-500 mt-3"></p>
      </form>
    </div>
  </div>
</section>