<!-- project details -->
{{ $imageURL := .content.imageURL  }}
{{$imageDataSize:= "600x400"}}
{{$imageCropStyle:= "object-cover"}}

<div class="flex flex-col md:flex-row justify-between py-4" style="background-color:#F2F6F7" >
    <div class="w-full lg:hidden my-gallery">
        <figure itemprop="associatedMedia" class=" h-full "  itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{$imageURL}}" itemprop="contentUrl" class=" h-full " data-size="{{$imageDataSize}}">
                <img class="lazy {{$imageCropStyle}} object-center h-full w-full"
                    alt="hero" src="/images/preview-load-grey.jpg" data-src="{{$imageURL}}">
            </a>
        </figure>
    </div>
    <div class="hidden lg:block w-4/7 p-8 my-gallery">
        <figure itemprop="associatedMedia" class=" h-full "  itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{$imageURL}}" itemprop="contentUrl" class=" h-full " data-size="{{$imageDataSize}}">
                <img class="lazy {{$imageCropStyle}} object-center h-full w-full"
                    alt="hero" src="/images/preview-load-grey.jpg" data-src="{{$imageURL}}">
            </a>
        </figure>
    </div>
    <div class="mx-8 md:mx-0 md:mr-8">
        <div class="mt-10 flex flex-col">
        <h3 class="text-primary  text-sm">{{.content.caption}}</h3>
        <h1 style="color: #093b52;" class="sm:text-3xl text-3xl font-semibold title-font my-4">{{.content.title}}</h1>
        <h4 class=" text-md text-gray-600">{{.content.subTitle}}</h4>
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col">
            {{range .content.leftList}}
                <div class="flex flex-row space-x-2 mt-4 items-center">
                    <div>
                        <img height="24px" class="object-contain" src={{.imageURL}} />
                    </div>
                    <div class="text-xs ">{{.text}}</div>
                </div>
            {{end}}
        </div>

        <div class="flex flex-col pl-4">
            {{range .content.rightList}}
                <div class="flex flex-row space-x-2 mt-4 items-center">
                    <div>
                        <img height="24px" class="object-contain" src={{.imageURL}} />
                    </div>
                    <div class="text-xs ">{{.text}}</div>
                </div>
            {{end}}
        </div>
    </div>
      

    <div class="bg-orange-100 my-8 h-10 border-l-2 items-center pt-3 pl-2 justify-center text-xs text-gray-600 border-primary">{{.content.bannerText}}</div>
    
    <a href="" target="_blank" 
                class="mt-4 w-48 shadow-sm rounded-sm bg-primary text-white text-center pl-3 pr-3 pt-2 pb-2 mb-4">Download Brochure</a>  

    </div>
   
   
</div>