{{$mainText := "Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag."}}
{{$headingText := "About Our Project"}}
{{$buttonType := .content.buttonType}}
{{ if isset .content "mainText" }}
{{ $mainText = .content.mainText  }}
{{ end }}
{{ if isset .content "headingText" }}
{{ $headingText = .content.headingText  }}
{{ end }}

<section id="{{.block.divId}}" class="text-gray-600 body-font" style="background-color:#F2F6F7">
  <div class="container py-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-2">
      <h3 class="text-primary text-sm mb-2">Our Projects</h3>
      <h1 style="color: #093b52;" class="sm:text-3xl text-3xl font-semibold title-font mb-1">{{$headingText}}</h1>
      <div class="flex justify-center">
        <!-- <div class="w-16 h-1 rounded-full bg-primary inline-flex"> </div> -->
        </div>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{$mainText}}</p>
    </div>

    <div class="lg:p-4">
      <div class="splide arrow-override" data-splide='{"type":"loop", "autoplay": true, "perPage":3, "breakpoints": {"640": {"perPage": 1},"900": {"perPage": 2}}}'>
	      <div class="splide__track">
		      <ul class="splide__list">
        {{ range .content.projectList  }}

			<li class="splide__slide ">
              <div class="p-2 lg:p-4">
                  <div class="h-full border shadow-md border-gray-300 bg-white border-opacity-60 overflow-hidden">
                  <img class="lg:h-48 h-40 pl-4 pt-4 pr-4 w-full object-cover object-center" src="{{.imageURL}}" alt="blog">
                  <div  style="background-color: #77C720;" class=" absolute top-10 right-10 pr-4 pl-4 pt-1 pb-1 font-thin text-sm bg-green-400 text-white uppercase"> {{.label}}</div>
                  <div class="p-4">
                      <h2 class="tracking-widest text-md title-font font-medium text-primary mb-1">{{.category}}</h2>
                      <h1 style="color: #093b52;" class="title-font text-2xl mt-2 mb-2 font-sans ">{{.heading}}</h1>
                      <div class="mb-2 flex flex-row">
                        <div class="mr-2" style="margin-left:-2px">
                          <!-- <img class="pr-1" style="height:22px;padding-top:3px; "  src="/images/icons/location.png"/>                       -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                          </svg>
                        </div>
                        <div class="text-sm">{{.location}}</div>
                      </div>
                      <p class="leading-relaxed mt-3 mb-4 text-sm font-thin">{{.description}}</p>

                      <ul class="flex mb-3 border-solid">
                          {{ range $index, $element := .statsList }}
                            {{ if eq $index 0 }}
                              <li class="pl-2 pr-4 overflow-hidden border-solid " >
                                  <p style="color: #093b52;" class="text-sm font-bold">{{.topLine}}</p> 
                                  <p style="color: #093b52;" class="text-sm font-thin pt-2">{{.bottomLine}}</p> 
                              </li>
                            
                            {{else}}
                             <li class="pl-4 pr-4 overflow-hidden border-solid" style="border-left-width: 0.5px; border-color:#5C727D" >
                                  <p style="color: #093b52;" class="text-sm font-bold">{{.topLine}}</p> 
                                  <p style="color: #093b52;" class="text-sm font-thin pt-2">{{.bottomLine}}</p> 
                              </li>
                            {{end}}
                          {{end}}
                      </ul>
                      <div class="flex items-center flex-wrap float-right mb-4 ">
                        <a href={{.href}} class="float-right text-white bg-primary border-0 py-2 px-4 focus:outline-none hover:bg-hover rounded text-sm">KNOW MORE</a>
                      </div>
                  </div>
                  </div>
              </div>
              
              </li>
        {{end}}
       </ul>
      </div>
      </div>
    </div>
  </div>
</section>